<div [hidden]="!isVisible">
  <div class="overlay ng-scope" test-id="loader">
    <div class="content">
      <div class="ui text loader active ng-binding">
        <div class="lds-spinner">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
